In [44]:
from faker import Faker
import pandas as pd
#from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

#Task1

In [45]:
#creating a dataframe with 100 Fakers
fake = Faker(['no_NO']) #Create a faker with norwegian Names and structures

#Faker calls you will need:
fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()

('Rolf Jenssen-Antonsen',
 'Svendsenalléen 36, 4433 Pålhavn',
 '29079348277',
 '6011896189048718',
 '218.168.239.200')

In [46]:
#define columns
columns = ['Name', 'Address', 'SSN', 'CreditCardNumber', 'IPv4']

In [47]:
#define df and add data to the columns
df = pd.DataFrame(columns=columns)

In [48]:
#Use a loop to make 100 Fake data
for i in range(100):
    row = fake.name(), fake.address(), fake.ssn().replace('\n', ' '), fake.credit_card_number(), fake.ipv4()
    df.loc[i] = row

    df.head()

In [49]:
df.head()

,Name,Address,SSN,CreditCardNumber,IPv4
0,Marianne Sørensen,"Moensvingen 8, 6454 Heidistad",20059717961,2652926669928767,74.210.68.90
1,Lene Eriksen,"Andersenstien 4F, 3817 Strand",05088126191,4571671083439124,29.203.216.217
2,Cecilie Halvorsen-Ellingsen,"Bøeengen 5, 6906 Thorsen",11105141531,560624055342,43.162.118.48
3,Jan Andresen,"Rønningekra 49, 3813 Henrikvik",13084431391,30128330534655,190.80.110.92
4,Nina Haugland,"Liengata 2, 5329 Tveit",26025002694,4654471351856854242,213.30.196.177